<app-dual-selector
  (actionChange)="onActionChanged($event)"
  (reset)="onReset($event)"
  [data]="menuItems"
  [templateText]="templateText"
  [templateEmojiText]="templateEmojiText"
></app-dual-selector>

<div class="container">
  <div class="container__available">
    <pre>{{ available | json }}</pre>
  </div>
  <div class="container__selected">
    <pre>{{ selected | json }}</pre>
  </div>
</div>

<ng-template #templateText let-name="name">
  <span class="item__text"> 
    {{name}}
  </span>
</ng-template>

<ng-template #templateEmojiText let-name="name" let-emoji="emoji">
  <span class="item__text">
    {{emoji}} {{name}}
  </span>
</ng-template>