.container {
  display: flex;
  flex-direction: column;
  position: relative;

  .setting {
    position: absolute;
    top: 0;
    right: 0;

      .setting__list {
        position: absolute;
        display: block;
        top: 3.5rem;
        right: 0;
        width: 18rem;
        border-radius: 5px;
        border: solid 0.01rem rgba(gray, 0.3);
        padding: 0;
        list-style-type: none;

      .list__item {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        width: 100%;
        font-size: 1.1rem;
        border-bottom: solid 0.01rem rgba(gray, 0.3);
        cursor: pointer;

      .item__status {
        display: block;
        }

      input {
        height: 2.5rem;
        font-size: 1rem;
        margin: 0.1rem 0;
        }
      }
    }
  }

  .content {
    display: flex;
    margin-top: 1rem;

    .content__area {
      width: 100%;
      
      pre {
        font-size: 0.5rem;
        height: 60vh;
        overflow-y: scroll;
      }
    }
  }
}

.item__text {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}