* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;

  .options {
    .items {
      display: flex;
      flex-direction: column;
      height: 80vh;
      overflow-y: scroll;

      li {
        margin-top: 0.1rem;
        cursor: pointer;

        &:hover {
          box-shadow: 0px 0px 10px gray;
        }
      }
    }
  }

  .action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      width: 100%;
      margin: 0.5rem 0;
    }
  }
}
