* {
  box-sizing: border-box;
}

.container {
  .container__inner {
    position: relative;
    display: flex;
    justify-content: center;

    .setting {
      position: absolute;
      top: 0;
      right: 0;

      .setting__button {
        height: 3.5rem;
      }

      .setting__list {
        position: absolute;
        display: block;
        top: 3.5rem;
        right: 0;
        width: 18rem;
        border-radius: 5px;
        border: solid 0.01rem rgba(gray, 0.3);
        padding: 0;
        list-style-type: none;

        .list__item {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.8rem 0;
          width: 100%;
          font-size: 1.1rem;
          border-bottom: solid 0.01rem rgba(gray, 0.3);
          cursor: pointer;

          input {
            height: 2.5rem;
            font-size: 1rem;
            margin: 0.1rem 0;
          }
        }
      }
    }

    // available, selected 공통
    .container__available,
    .container__selected {
      width: 15%;
      position: relative;
    }

    .list__count {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      bottom: 0;
      border: solid 0.01rem rgba(gray, 0.3);
      border-radius: 0px 0px 5px 5px;
      margin-top: 2rem;
    }

    .container__search {
      margin-bottom: 1rem;
    }

    .container__list {
      height: 35vh;
      overflow-y: scroll;
      border: solid 0.01rem rgba(gray, 0.3);
      border-radius: 5px 5px 0px 0px;

      .list__title {
        font-size: 1.5rem;
        font-weight: 800;
      }

      .list__empty-text {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: gray;
      }

      .list__item {
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;

        &.over {
          background-color: rgba(gray, 0.3);
          border: gray dotted 0.01rem;
        }

        span {
          display: block;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        &.xs {
          height: 2.8rem;
          font-size: 0.8rem;
        }

        &.s {
          height: 3.3rem;
          font-size: 1.1rem;
        }

        &.m {
          height: 3.8rem;
          font-size: 1.6rem;
        }
      }
    }

    // action
    .container__action {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 0.5rem;

      button {
        i {
          display: flex;
          height: 2rem;
          font-size: 1.5rem;
          justify-content: center;
          align-items: center;
        }
      }
    }

    // selected
    // .container__selected {
    //   display: flex;

    //   .selected__list {
    //     display: block;
    //     flex: 10;
    //   }
    //   .selected__move {
    //     flex: 1;
    //     display: flex;
    //     flex-direction: column;
    //   }
    // }
  }
}
