<div class="container">
  <div class="options">
    <h1>Available options</h1>
    <div class="items">
      <ul class="list-group">
        <li
          *ngFor="let item of available"
          class="list-group-item"
          [class.active]="item.focused"
          (click)="onSelect('available', item)"
        >
          {{ item.name }}
        </li>
      </ul>
    </div>
  </div>

  <div class="action">
    <button (click)="toSelectedAll()" class="btn btn-default">
      <strong>add all</strong>
    </button>
    <button (click)="toSelected()" class="btn btn-default">
      add
    </button>
    <button (click)="toAvailableAll()" class="btn btn-default">
      <strong>remove all</strong>
    </button>
    <button (click)="toAvailable()" class="btn btn-default">
      remove
    </button>
    <button (click)="reset()" class="btn btn-default">
      초기화
    </button>
  </div>

  <div class="options">
    <h1>Selected options</h1>

    <div class="items">
      <ul class="list-group">
        <li
          *ngFor="let item of selected"
          (click)="onSelect('selected', item)"
          [class.active]="item.focused"
          class="list-group-item"
        >
          {{ item.name }}
        </li>
      </ul>
    </div>
  </div>
  <div class="move">
    <button class="btn btn-default" (click)="toUp()">⬆️</button>
    <button class="btn btn-default" (click)="toDown()">⬇️</button>
  </div>
</div>
