* {
  box-sizing: border-box;
}

.container {
  .container__title {
    text-align: center;
    font-size: 2rem;
  }

  .container__inner {
    display: flex;
    justify-content: center;

    // available, selected 공통
    .container__available,
    .container__selected {
      flex: 4;
    }

    .container__search {
      border-radius: 5px 5px 0px 0px;
      border: solid 0.01rem rgba(gray, 0.5);
      height: 3rem;
      padding: 1rem 0.5rem;

      &:focus {
        outline: none;
      }
    }

    .container__list {
      height: 35vh;
      overflow-y: scroll;
      border-radius: 0px 0px 5px 5px;
      border: solid 0.01rem rgba(gray, 0.5);

      .list__empty-text {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: gray;
      }

      .list__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.5rem;
        font-size: 1.3rem;
        cursor: pointer;
      }
    }

    // action
    .container__action {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 0.5rem;
    }

    // selected
    .container__selected {
      display: flex;

      .selected__list {
        display: block;
        flex: 10;
      }
      .selected__move {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
